@font-face{
    font-family: "DejaVu";
    src: url('DejaVuSerif.ttf');
}

body {
    font-family: "DejaVu", sans-serif;
    margin: 7px;
}

h1 {
    font-weight: 300;
    margin: .5em;
    text-align: center;
}

form {
    position: fixed;
    width: 100%;
}

input {
    font-family: "DejaVu", serif;
    font-size: 1.5em;
    width: 96%;
    padding: .5em .2em;
}

p {
    margin: 0;
}

ul {
    padding-left: 10px;
}

ol > li {
    margin-bottom: 1em;
}

div#displayEmployee {
    margin-top: 45px;
    display:none;
}

#status {
    font-style: italic;
}

.gloss {
    margin-bottom: 1em;
}

.glossObject:before {
    content: "(";
}

.glossObject:after {
    content: ") ";
}

.ui-widget {
    font-family: "DejaVu";
    font-size: 1.5em;
}

#btAnnuler {
    margin-left: -80px;
    width: 50px;
    height: 50px;
    top: -3px;
    position: relative;
}

.cacher {
    display: none;
}